// VARIABLES

$website-width: 80rem;
$main-color: hsl(44, 100%, 50%);
$light-color: hsl(0, 0%, 96%);
$medium-color: hsl(0, 0%, 80%);
$dark-color: hsl(0, 0%, 20%);
$bg-image: url("../img/showcase.jpg");
$bg-image2: url("../img/sedona.jpg");

// SET TEXT COLOR

@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return #000;
  } @else {
    @return #fff;
  }
}
