.wrapper {
  max-width: $website-width;
  padding: 0 1.5rem;
  margin: 0 auto;
  overflow: hidden;
}

// BUTTONS

%btn-shared {
  display: inline-block;
  padding: 0.8rem 2rem;
  transition: all 0.5s;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.btn {
  &__main {
    @extend %btn-shared;
    color: $dark-color;
    background-color: $main-color;
  }
  &__light {
    @extend %btn-shared;
    color: $dark-color;
    background-color: $light-color;
  }
  &__dark {
    @extend %btn-shared;
    color: $light-color;
    background-color: $dark-color;
  }
}

a[class^="btn__"]:hover,
a[class^="btn__"]:focus,
button[class^="btn__"]:hover,
button[class^="btn__"]:focus,
input[class^="btn__"]:hover,
input[class^="btn__"]:focus {
  background-color: $main-color;
}

.content__lead {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.text__center {
  text-align: center;
}

// PADDING

.py {
  &-1 {
    padding: 1rem 0;
  }
  &-2 {
    padding: 2rem 0;
  }
  &-3 {
    padding: 3rem 0;
  }
  &-4 {
    padding: 4rem 0;
  }
}

// MARGIN

.my {
  &-1 {
    margin: 1rem 0;
  }
  &-2 {
    margin: 2rem 0;
  }
  &-3 {
    margin: 3rem 0;
  }
  &-4 {
    margin: 4rem 0;
  }
}

// LAYOUT

.section__title {
  display: block;
  font-size: 2rem;
  font-weight: 100;
  padding-bottom: 0.5rem;
  text-align: center;
  text-transform: uppercase;
}

.section__bottom--line {
  height: 0.1875rem;
  width: 7rem;
  background: $main-color;
  display: block;
  margin: 0 auto 1rem auto;
}

// BACKGROUND COLORS

.bg {
  &__main {
    background: $main-color;
    color: set-text-color($main-color);
  }

  &__dark {
    background: $dark-color;
    color: set-text-color($dark-color);
  }

  &__light {
    background: $light-color;
    color: set-text-color($light-color);
  }

  &__medium {
    background: $medium-color;
    color: set-text-color($medium-color);
  }
}
