@import 'config';

//GENERAL STYLES & RESET

*,
::before,
::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    line-height: 1.6;
    background: hsl(0, 0%, 100%);
  }

  a {
    text-decoration: none;
    color: $dark-color;
  }

  ul {
    list-style: none;
  }

  h2, 
  h3,
  h4,
  h5 {
    text-transform: uppercase;
  }

  img {
    width: 100%;
  }

